// colour
$black: #323232;
$instock-blue: #004892;
$white: #ffffff;
$silver: #afafaf;
$instock-blue-dark: #002f5f;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$paragraphText: #323232;
$textLabel: #afafaf;
$textFieldBorder: #e1e1e1;
$textFieldBackground: #fafafa;
$navigationbackgroundfill: #323232;


$font-light: 'Raleway-Light', sans-serif;
$font-medium: 'Raleway-Medium', sans-serif;
$font-reg: 'Raleway-Regular', sans-serif;

$font-bold1: 'Nato-Bold', sans-serif;
$font-light1: 'Nato-Light', sans-serif;
$font-medium1: 'Nato-Medium', sans-serif;
$font-reg1: 'Nato-Regular', sans-serif;


@font-face {
  font-family: 'Raleway-Light';    
  src: url('../../assets/fonts/Raleway/Raleway-Light.ttf');
}

@font-face{
  font-family: 'Raleway-Medium';
  src: url('../../assets/fonts/Raleway/Raleway-Medium.ttf');
}

@font-face{
  font-family: 'Raleway-Regular';
  src: url('../../assets/fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Nato-Bold';    
    src: url('../../assets/fonts/Noto_Sans_HK/NotoSansHK-Bold.otf');
}

@font-face {
  font-family: 'Nato-Light';    
  src: url('../../assets/fonts/Noto_Sans_HK/NotoSansHK-Light.otf');
}

@font-face{
  font-family: 'Nato-Medium';
  src: url('../../assets/fonts/Noto_Sans_HK/NotoSansHK-Medium.otf');
}

@font-face{
  font-family: 'Nato-Regular';
  src: url('../../assets/fonts/Noto_Sans_HK/NotoSansHK-Regular.otf');
}


$tablet-width: "(min-width: 720px) and (max-width: 1080px)";
$desktop-width: "(min-width: 1080px)";